{% extends 'WebService/base.html' %}
{% load staticfiles %}

{% block content %}

    <script src="{% static 'Chart.bundle.js' %}"></script>
    <input type="text" id="changeSite" value="{{ url }}">
    <div id="sites">
        {% if lost_sites %}
        <p>Последние:</p>
        <ul class="lost-sites">
        {% for site in lost_sites %}
            <li onclick="document.location.href = '/analitic?viewId={{ site.view_id }}'"><span>{{ site.url }}</span><span>{{ site.view_id }}</span>
        {% endfor %}
        </ul>
        {% endif %}
        {% if sites %}
        <p>Остальные:</p>
        <ul class="sites">
        {% for site in sites %}
            <li onclick="document.location.href = '/analitic?viewId={{ site.view_id }}'"><span>{{ site.url }}</span><span>{{ site.view_id }}</span>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
{% for chart in charts %}
    <section id="section{{ chart.numb }}" onclick="document.location.href='/chart?viewId={{ view_id }}&num={{ chart.numb }}'">
        <canvas id="canvas{{ chart.numb }}"></canvas>
    </section>
{% endfor %}
    {% if not notadd %}
    <section class="add-chart" onclick="document.location.href = '/chart?viewId={{ view_id }}&num=0'"><div></div></section>
    {% endif %}
    {% if url %}
    <script>loadChart()</script>
    {% endif %}
{% endblock content %}